 <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Concerts", concerts_path  %></li>
          <li><%= link_to "New Concert", new_concert_path %></li>
        </ul>
      </div>
    </nav>
  </div>